/* navbar.css */

.nav {
    background-color: darkslategray;
}

.navbar-brand img {
    height: 60px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
}

.nav-link {
    color: white; /* Set default text color */
    padding: 10px 15px;
    text-decoration: none;
}

.nav-link.active {
    color: gold; /* Set active link text color */
}

.signup {
    background-color: darkgreen;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .nav-link {
        margin-top: 10px; /* Adjust spacing for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        display: block;
        text-align: center;
    }

    .signup {
        margin: 10px 0;
    }
}
