/* navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.navbar-brand img {
    height: 100px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
}
.navbar-nav{
    padding-left: 15rem !important ;
    align-items: center !important;
    justify-content: space-between !important;
}
.nav-link {
    color: #1c5c48 !important;
    font-size: x-large !important;
    padding: 10px 15px;
    text-decoration: none;
    position: relative; /* Ensures relative positioning for pseudo-element */
}
.nav-link{
        font-family: "Abel", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.nav-link.signup{

}

.nav-link:hover {
    text-decoration: none; /* Remove default underline */
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust to align underline position */
    width: 100%;
    height: 2px;
    background-color:#62866c;
}


.signup {
    background-color: darkgreen;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .nav-link {
        margin-top: 10px; /* Adjust spacing for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        display: block;
        text-align: center;
    }

    .signup {
        margin: 10px 0;
    }
}
